<div>
<h1>{{firstName}} {{lastName}}</h1>
  <div class="body">
    <ul class="reviews">
      {{#each reviews}}
      <hr noshade>
      <p>{{this.content}}<br>
        <b>Respect for Students:</b> {{this.respect}} //
        <b>Quality of Teaching:</b> {{this.effectiveness}} //
        <b>Difficulty:</b> {{this.difficulty}}
      </p>
      {{/each}}
    </ul>
  </div>
</div>
