<div>
<h1>{{firstName}} {{lastName}}</h1>
  <div class="body">
    <ul class="reviews">
      {{#each reviews}}
      <hr noshade>
      <p>"{{this.content}}"<br>
        <b>Respectfulness:</b> {{this.respect}} //
        <b>Effectiveness:</b> {{this.effectiveness}} //
        <b>Difficulty:</b> {{this.difficulty}}
      </p><br>
      {{/each}}
    </ul>
  </div>
</div>
